*{
    font-family: 'Roboto', sans-serif;
    margin:none;
    padding:none;
}
input{
    display: block;
    border:none;
    font-size:1.25rem;
    border-bottom:1px solid silver;
    padding: 2px;
    margin:0px;
    width: 100%;
}
input[type="radio"],input[type="checkbox"]{
    width:auto;
    display:inline;
margin:4px;
}
input:focus{
    outline-color: none;
    border:none;
}
.input-inline{
    display:flex;
}
.input-auto-width{
    width: 25px;;
}

section{
    margin-top: 1.5rem;
    border: 0.5px solid;
    border-radius: 4px;
    padding: 8px;
    border-color: rgba(0, 0, 255, 0.445);
}
form{
    width:90%;
}
section>span,label{
    font-weight:bold;
}
label{
    font-size: 12px;
    line-height:16px;
}
select{
    border:none;
    border-bottom:1px solid silver;
    padding: 8px;
    width:100%;
}
textarea{
    border-color: rgba(79, 15, 99, 0.445);
    border-radius:4px;
    width: 95%;
}
table{
    border-top: 1px solid silver;
    border-left: 1px solid silver;
    width:100%;
}
td{
    border-bottom: 1px solid silver;
    border-right: 1px solid silver;
    padding: 1rem;
}
table tr{
    width: 100%;
}
tr td{
    width:33%;
}
td input{
    width:90%;
    border:none;
}
td input:focus{
    outline-color:none;
    border:none;
}
img{
    display:block;
    margin:auto;
}
.form-container{
    display:flex;
    justify-content: center;
    width:100vw;
    border:none;
    position:relative;
    left:0;
    top:75px;
    border:none;
}
.left-standard-spacing{
    margin-left:1.5rem;
}
.submit-button{
    border:none;
    background-color:blueviolet;
    color:white;
    padding: 1.5rem;
    font-size:16px;
    border-radius: 4px;
    box-shadow:0px 0px 16px blueviolet;
    font-weight: bold;
    cursor:pointer;
    margin-top: 16px;
    width:100%;
}
.submit-button:hover{
    background-color:chartreuse;
    font-weight:bold;
}
.bold-text{
    font-weight:bold;
}
#traumatisme-contondant{
    width:25px;
    height:10px;
    background-color:yellow;
    display:inline-block;
}
#traumatisme-pénétration{
    width:25px;
    height:10px;
    background-color:rgb(255, 0, 0);
    display:inline-block;
}
#brûlure{
    width:25px;
    height:10px;
    background-color:peru;
    display:inline-block;
}
