html{
margin:0;
width:100%;
}
body{
    margin:0;
    padding:0;
}
.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.849);
    border: none;
    padding: 1rem;
    font-size: 1.25rem;
    display: flex;
    flex-direction: row;
    z-index: 2;
}

.menu li {
    width: 420px;
    position: relative;
    left: -40px;
    text-align: center;
    list-style: none;
    width: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 24px;
    border-radius: 0px;
    box-shadow: 1px 1px 1px 1px #FFFFFF75;
    font-size: 1.25rem;
    cursor: pointer;
    margin-left: 42px;
}

span.material-symbols-outlined{
    font-size:24px;
}

/* .menu li:hover {
    background-color: #21336375;
    color:blueviolet;
} */
.menu li:hover {
    background-color: #21336375;
}
.menu span{
    font-size: 18px;
    padding:4px;
    text-align: center;
  }

.item- {
    padding: 4px 0px 4px 2px;
    color: white;
    background-color: none;
    border: 0px solid white;
    border-radius: 1px;
}

.menu .item- {
    border: none;
    box-shadow: none;
}

.back-icon {
    position: fixed;
    left: 4px;
}

.icon {
    float: left;
    margin-left: 2rem;
}
